/*=======================================*/
/* Estilos de la pagina general principal*/
/*=======================================*/


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: center;
}

h1 {
  margin: 0;
  border-style: double;
  padding: 10px;
}

h2 {
	text-align:center;
}

footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*==================================================*/
/* Estilos de los botones de registro y login */
/*==================================================*/

.main-menu ul,
.auth-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu ul li,
.auth-menu ul li {
  display: inline; /* Los elementos se mostrarán en línea */
}

.main-menu .titulo,
.auth-menu .titulo2 {
  padding: 10px 20px;
  margin-right: 20px; /* Agrega margen a la derecha para separar los elementos */
}

.auth-menu {
  text-align: right; /* Alinea el menú de autenticación a la derecha */
}

/* Estilos para el menú de autenticación */
.auth-menu .auth-link {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 5px; /* Bordes redondeados */
  padding: 8px 16px; /* Espaciado interno */
  text-decoration: none; /* Quitar subrayado de enlaces */
}

.auth-menu .auth-link:hover {
  background-color: #45a049; /* Cambio de color al pasar el ratón */
}


/*==================================================*/
/* Estilos de los botones de la barra de navegacion */
/*==================================================*/

.titulo,
.titulo2 {
  padding: 10px 20px;
  margin: 0 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  transition: all 0.3s ease;
}

nav ul .titulo:hover {
  background-color: #555;
  border-radius: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: all 0.2s ease;
}

nav ul li ul {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 1;
}

nav ul li ul li {
  margin: 10px 0;
}

nav ul li ul li a:hover {
  color: #4caf50;
}

nav ul li:hover ul {
  display: block;
}


/*=======================================*/
/* Estilos de los efectos de los botones */
/*=======================================*/

.user-buttons button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*============================*/
/* Estilos del video de fondo */
/*============================*/

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 50%;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

/*===========================================*/
/* Estilos del menu de welcome de la pagina */
/*===========================================*/

.content {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 100px auto 0;
  width: 70%; 
}

/*==========================================*/
/* Estilos para el responsive de la pagina  */
/*==========================================*/

/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 1200px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 10px;
    width: 100%;
  }

  nav ul li ul {
    position: static; /* Cambiado a position: static para que aparezcan correctamente */
    display: none;
  }

  nav ul li:hover ul {
    display: none; /* Cambiado a display: none para que aparezcan correctamente */
  }
}

