h1 {
    text-align: center;
    color: #333; /* Puedes cambiar el color a tu preferencia */
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente a tu preferencia */
    margin-top: 20px;
}